.menu{
    column-count:2;
   column-gap:20px;
}
.logo{
    width: fit-content;
}
/* nav{
    outline: 1px solid yellow;
} */
#nav{
    /* outline: 1px solid blue; */
    list-style: none;
    padding: 0;
    margin: 0;
    background: black;
    line-height: 30px;
    
}
#navli{
    /* outline: 1px solid red; */
    width: 100px;
/*Esto es para hacer el menu horizontal*/
    display: inline-block;
    text-align: center; 
}
a{
    /* outline: 1px solid green; */
    text-decoration: none;
    color: aliceblue;
    display: block;
}
/* Efecto para el menu  */
a:hover{
    background: #f9a91a;
    color: rgb(0, 0, 0);
}